@charset "utf-8";
/* CSS Document */

.bgimage{
	background: image("../FF/images/simon-maage-706908-unsplash.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.panel1{
	margin-left: 700px;
	margin-top: 200px;
	height: 450px;
	opacity: 0.50;
	background: #303030;
	border-radius: 10px;
	width: 450px;
	align-content: center;
	align-items: center;
	align-self: center;
}

.panel2{
	margin-left: 390px;
	margin-top: 10px;
	height: 100px;
	opacity: 0.65;
	background: #FFF;
	border-radius: 20px;
	width: 200px;
	align-items:center;
    justify-content: center;
}

form{
	width: 400px;
	height: auto;
	background-color: white;
	background: #303030;
	align-content: center;
	align-items: center;
	align-self: center;
}

fieldset{
	background-color: white;
	border:none;
	padding-bottom: 10px;
	background: #303030;
	border-radius: 10px;
}

h1{
	font-family: 'PT Serif', serif;
	font-size: 30px;
	color: black;
	display: block;
	align-items: center;
	opacity: 1;
}

label{
	width: 100px;
	display: block;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	font-weight: 100;
	color: white;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}

input {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 16px;
	color: black;
	display: block;
	align-items: center;
	height: 25px;
}

.btn{
	width: 100px;
	height: 30px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	color: black;
	font-weight: bold;
	background-color: darkgray;
	float: center;
	margin-top: 10px;
}

